html,
body {
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    overflow-x: hidden;
    background: #000;
    color: #fff;
    border-bottom: none;
}

.header__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 24px;
}

.header__search {
    display: flex;
    justify-content: center;
}

.header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 18px;
}


.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo-img {
    height: 30px;
}

.header__search-input {
    width: 100%;
    max-width: 360px;
    padding: 10px 20px;
    border-radius: 2px;
    font-size: 16px;
    border: none;
}

.header__search-input::placeholder {
    color: #000;
}

.header__menu a {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
}

.header__menu a.header__sell-button {
    background: #fff;
    color: #000;
    padding: 6px 20px;
    border-radius: 2px;
    align-items: center;
    font-weight: bold;
}

.header__logout-button {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    padding: 0;
}

.sold-badge {
    position: absolute;
    top: 12px;
    left: 12px;
    background-color: #ff4d4d;
    color: #fff;
    font-size: 14px;
    padding: 6px 14px;
    border-radius: 6px;
    font-weight: bold;
    z-index: 20;
}

.item-card__link.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: default;
}

.form__error {
    color: red;
    font-size: 14px;
    margin-top: 4px;
}

/* ===============================
    レスポンシブ：PC幅調整
=============================== */

/* 1540px以下 */
@media screen and (max-width: 1540px) {
    .header__search-input {
        max-width: 280px;
        padding: 8px 16px;
    }
}

/* 1400px以下 */
@media screen and (max-width: 1400px) {

    .header__inner {
        padding: 10px 20px;
        justify-content: space-between;
    }

    .header__search-input {
        max-width: 280px;
        padding: 8px 16px;
    }

    .header__menu {
        gap: 12px;
        flex-shrink: 0;
    }
}