.mypage-edit {
    max-width: 680px;
    margin: 10px auto;
    background: #fff;
    padding: 10px;
    border-radius: 8px;
}

.mypage-edit__title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #333;
}

.mypage-edit__image-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.mypage__icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    background: #F4F4F4;
}

/* プレビュー画像 */
#preview {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #ddd;
}

.mypage-edit__image-left {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.mypage-edit__image-preview {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.mypage-edit__image-label {
    padding: 6px 14px;
    border: 1px solid #E20036;
    border-radius: 6px;
    color: #E20036;
    cursor: pointer;
    margin-top: -100px;
    margin-left: -200px;
}

.mypage-edit__image-input {
    display: none;
}

.mypage-edit__group {
    margin-bottom: 20px;
}

.mypage-edit__label {
    font-weight: bold;
    display: block;
    margin-bottom: 4px;
}

.mypage-edit__input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 16px;
}

.mypage-edit__button {
    display: block;
    width: 100%;
    margin: 0 auto 30px;
    background: #FF6F6F;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}