.mypage__tabs-wrapper {
    width: 100%;
    border-bottom: 2px solid #C4C4C4;
}

.mypage__tabs {
    list-style: none;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    gap: 40px;
    padding: 4px;
}

.mypage__tab.is-active a {
    color: #FF4F5E;
    font-weight: 600;
}

.mypage__tab {
    font-size: 16px;
    color: #333;
    padding: 0;
    font-weight: 600;
}

.mypage__tab a {
    text-decoration: none;
    color: #595959;
}
