.user-info {
    width: 100%;
}

.user-info__wrapper {
    max-width: 850px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-info__center {
    display: flex;
    align-items: center;
    gap: 30px;

}

.profile-view__icon {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    background: #F4F4F4;
}

@media (max-width: 850px) {
    .user-info__wrapper {
        margin: 10px 40px;
    }

    .user-info__center {
        gap: 10px;
    }
}