.user-info__wrapper {
    width: 100%;
}

.user-info {
    max-width: 860px;
    margin: 40px auto 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-info__center {
    display: flex;
    align-items: center;
    gap: 30px;

}

.mypage__username {
    font-size: 22px;
    font-weight: bold;
    margin-top: 24px;
}

.mypage__edit-btn {
    display: inline-block;
    padding: 6px 14px;
    border: 2px solid #FF4F5E;
    color: #FF4F5E;
    border-radius: 6px;
    font-size: 16px;
    text-decoration: none;
    white-space: nowrap;
}

.profile-create {
    max-width: 500px;
    margin: 0 auto;
    padding: 40px 20px;
}

.profile-create__title {
    text-align: center;
    font-size: 22px;
    margin-bottom: 30px;
}

.profile-create__group {
    margin-bottom: 22px;
}

.profile-create__label {
    display: block;
    font-size: 14px;
    margin-bottom: 6px;
    color: #333;
}

.profile-create__input {
    width: 100%;
    height: 40px;
    border: 1px solid #C4C4C4;
    border-radius: 6px;
    padding: 0 10px;
}

.profile-create__btn {
    width: 100%;
    height: 44px;
    background-color: #FF6F6F;
    color: white;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.profile-view {
    max-width: 600px;
    margin: 60px auto;
    text-align: center;
}

.profile-view__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.profile-view__card {
    background: #fff;
    padding: 30px 20px;
    border-radius: 12px;
    border: 1px solid #E0DFDE;
}

.profile-view__image-area {
    margin-bottom: 20px;
}

.profile-view__icon {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    background: #F4F4F4;
}

.profile-view__info {
    text-align: left;
    font-size: 15px;
    line-height: 1.9;
    margin: 0 auto 20px;
    max-width: 360px;
}

.profile-view__info span {
    font-weight: bold;
    display: inline-block;
    width: 110px;
}

.profile-view__edit-btn {
    display: inline-block;
    background: #FF6F6F;
    color: #fff;
    padding: 6px 14px;
    border-radius: 6px;
    font-size: 14px;
    margin-left: auto;
}

.no-items-message {
    margin-top: 20px;
    color: #666;
    font-size: 16px;
}
