.user-info__wrapper {
    width: 100%;
}

.user-info {
    max-width: 860px;
    margin: 40px auto 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-info__center {
    display: flex;
    align-items: center;
    gap: 30px;

}

.mypage__username {
    font-size: 22px;
    font-weight: bold;
    margin-top: 24px;
}

.mypage__edit-btn {
    display: inline-block;
    padding: 6px 14px;
    border: 2px solid #FF4F5E;
    color: #FF4F5E;
    border-radius: 6px;
    font-size: 16px;
    text-decoration: none;
    white-space: nowrap;
}

.profile-view__icon {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    background: #F4F4F4;
}
